:root {
  --text-color: beige;
  --text-color2: black;
  --font: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  block-size: border-box;
}
body * {
  font-family: var(--font);
  color: var(--text-color);
}
#container {
  width: 360px;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
#profile {
  text-align: center;
  padding: 10px;
}

#profile img:hover {
  box-shadow: 0 0 8px #ffff;
  transform: scale(3.5);
  margin-bottom: 50%;
  margin-top: 30%;
}

#profile img {
  transition-duration: 0.6s;
  width: 126px;
  border-style: solid;
  border-radius: 200px;
  border-width: 1px;
  border-color: var(--text-color);
}

#headText h1 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
  font-style: var(--font);
  font-weight: 500;
  margin-top: 4px;
}
/*Links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: rgb(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}
/*pseudo-selecto*/
ul li a:hover {
  background: rgb(255, 255, 255, 0.05);
  border: 1px solid;
  color: var(--text-color);
}
ion-icon {
  color: var(--text-color);
  margin-top: 0%;
  margin-bottom: 1%;
  margin-right: 2%;
}

#myhistory a {
  transform: scale(1.5);
}
