@import url("style-dark.css");

.ligth-mode #profile img:hover {
  box-shadow: 0 0 8px rgb(95, 95, 95);
}

.ligth-mode #profile img {
  width: 126px;
  height: 126px;
  border-style: solid;
  border-radius: 200px;
  border-width: 1px;
  border-color: black;
}

.ligth-mode #headText h1 {
  color: black;
}

.ligth-mode ul li a {
  color: black;
  background: rgb(255, 255, 255, 0.1);
  border: 1px solid rgba(8, 6, 6, 0);

  border-color: black;
  backdrop-filter: blur(4px);
}

.ligth-mode ul li a:hover {
  background: rgb(255, 255, 255, 0.1);
  border: 1px solid rgba(8, 6, 6, 0);
  border-color: rgb(175, 173, 173);
  color: black;
}

.ligth-mode ion-icon {
  color: black;
}
